[Unit]
Description=tg bot service

[Service]
SuccessExitStatus=143
User=ubuntu
WorkingDirectory=/home/ubuntu
Type=simple
ExecStart=java -jar /home/ubuntu/trip-planner-bot.jar
# optional items below
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
